# Node.js and npm
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml


# Environment Variables
.env
.env.local
.env.development.local
.env.test.local

# Firebase Service Account Key (Backend)
src/config/capstone-ancestree-firebase-adminsdk-fbsvc-650a69d943.json
src/config/capstone-ancestree-firebase-adminsdk-fbsvc-01838b417d.json
src/config/capstone-ancestree-firebase-adminsdk-fbsvc-3a06b2436e.json

# Next.js Build Output (Frontend)
.next/
out/
build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo